.navbar
    background-color: $white
    width: 100%
    padding-top: 10px
    padding-bottom: 10px

.navbar-logo
    margin-left: 40px
    @media screen and (max-width: $lg-break-point)
        margin-left: 10px

.brand-name
    font-size: 30px
    font-weight: bolder
    margin-left: 60px 
    margin-top: -50px
    
.navbar-list
    float: right
    list-style: none
    margin-top: -40px
    // transition: 0.5s
    
.sidebar-nav
    height: 100%
    top: 0
    right: 0
    position: fixed
    background-color: $black
    overflow-x: hidden
    padding-left: 0
    padding-top: 90px
    z-index: 1

.slideOutRight
    animation-name: slideOutRight
    animation-duration: 0.8s
    animation-iteration-count: 1
    transition-timing-function: ease-out
    
.navbar-list-item
    display: inline
    border-color: #000
    cursor: pointer

.navbar-list-item a:not(.menuBars)
    color: $black
    text-decoration: none
    padding: 30px 10px 43px 10px
    // transition: .4s
    &:hover
        color: $white
        background-color: $red
    @media screen and (max-width: $md-break-point)
        display: none
.sidebar-nav-a a:not(.menuBars)
    color: #ffffff
    display: block
    padding: 8px 8px 8px 32px
    margin-top: 10px
    text-decoration: none
    font-size: 25px
    transition: 0.3s

.menuBars
    display: none
    text-decoration: none
    color: $red
    font-size: 30px
    padding: 30px 20px 25px 20px
    &:hover
        color: $white
        background-color: $red
    @media screen and (max-width: $md-break-point)
        display: inline

.side-bar-nav-menuBars
    color: $white
    display: inline
    position: absolute
    // transition: .3s
    margin-top: 40px 
    top: 0     
    font-size: 36px
    padding: 4px 15px
    &:hover
        color: $white