.card
    // width: 100%
    background-color: $white
    margin: 150px 90px
    padding: 30px 30px
    text-align: center

 
.card input[type=text]
    width: 70%
    padding: 10px
    font-size: 15px
    border-style: solid
    border-color: #e6e6e6
    margin-bottom: 15px

.card select
    width: 80%
    height: 45px
    border-style: solid
    border-color: #e6e6e6
    border-radius: 0
    background-color: $white

.card input[type=submit]
    width: 80%
    background-color: $red
    color: $white
    border: none
    padding: 10px
    font-size: 15px
    cursor: pointer
    transition-duration: .4s
    &:hover
        background-color: darken($red, 20%)
.fa
    color: $red
    font-size: 20px

.help-link
    float: right
    margin-right: 40px 
.help-link-text
    text-decoration: none
    color: $red

.disclaimer
    opacity: 0.5
